
@{
    ViewData["Title"] = "Current Projects";
    
}
<partial name="_Navigation"/>
<h2>@ViewData["Title"]</h2>
<p>I am current trying to see if I could modify my headset so i could watch/listen to videos</p>
@await Html.PartialAsync("_Sidebar");