
@{
    ViewData["Title"] = "Current Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Navigation"/>
<h2>Current Porjects</h2>
<p>I am current trying to see if I could modify my headset so i could watch/listen to videos</p>
